{% extends 'base.html' %}
{% block extrahead %}
<title>Resumeasy - About</title>
{% endblock %}
{% block body %}
<h3>Resume builder by Max Zinkus and Kent Kawahara</h3>
<p>We wrote this website at the Cal Poly SLO White Hat Club Winter Hackathon 2015.</p>
<p>It's designed to help students make clean and professional resumes quickly and easily.</p>
<p>Get started by visiting the <a href="/info/">info page</a> for resume building tips or the <a href="/resume/">resume building form</a> to customize your own resume!</p>
{% endblock %}
