{% extends 'base.html' %}
{% block extrahead %}
<title>Resumeasy - Tips</title>
{% endblock %}
{% block body %}
<h3>Here are some tips to get you started:</h3>
<ul>
    <li><p><strong>Keep it to one page</strong></p></li>
    <ul>
        <li><p>This lets employers parse the form quickly and prevents attention loss.</p></li>
        <li><p>Also, no one wants to have to flip throuh stapled pages. One page is clean and concise.</p></li>
    </ul>
    <li><p><strong>Put the most important things first</strong></p></li>
    <ul>
        <li><p>Make sure your contact information is easily noticable at the top of the page.</p></li>
        <li><p>Highlight your education, work experience, skills, and relevant projects above most things.</p></li>
        <li><p>Exceptions to this rule include very prominent and reknown awards you've received.</p></li>
    </ul>
    <li><p><strong>Use action words</strong></p></li>
    <ul>
        <li><p>Start line items with words such as 'organized,' 'led,' and 'developed.'</p></li>
        <li><p>Avoid too much repetition of your action words, make sure to mix it up.</p></li>
        <li><p>Also avoid uninspired words such as 'used' and 'did.'</p></li>
    </ul>
</ul>
<h4>An example resume:</h4>
<iframe src="/static/sampleresume.pdf" width="100%" height="800px"></iframe>
{% endblock %}
