{% extends 'base.html' %}
{% block body %}
{% if pdf %}
<h3>This is the generated resume page</h3>
<iframe src="{{ pdf }}" width="100%" height="400px"></iframe>
{% else %}
<h3>Fill out this form to have a resume generated for you!</h3>
<form class="form" method="post">
    <p>Name:<br></p>
    <input type="text" name="name" required><br>
    <p>Phone Number:<br></p>
    <input type="text" name="phone" required><br>
    <p>Location: <br></p>
    <input type="text" name="location" required><br>
    <p>Email Address:<br></p>
    <input type="text" name="email" required><br>
    <p>School 1 Name:<br></p>
    <input type="text" name="school0name" required><br>
    <p>School 1 Location:<br></p>
    <input type="text" name="school0location" required><br>
    <p>School 1 Degree:<br></p>
    <input type="text" name="school0degree" required><br>
    <p>School 1 Status:<br></p>
    <input type="text" name="school0status" required><br>
    <p>School 1 Year Graduated (or will graduate):<br></p>
    <input type="text" name="school0year" required><br>
    <p>School 1 GPA (if over 3.0)<br></p>
    <input type="text" name="school0gpa"><br>
    <p>School 2 Name:<br></p>
    <input type="text" name="school1name"><br>
    <p>School 2 Location:<br></p>
    <input type="text" name="school1location"><br>
    <p>School 2 Degree:<br></p>
    <input type="text" name="school1degree"><br>
    <p>School 2 Status:<br></p>
    <input type="text" name="school1status"><br>
    <p>School 2 Year Graduated (or will graduate):<br></p>
    <input type="text" name="school1year"><br>
    <p>School 2 GPA (if over 3.0)<br></p>
    <input type="text" name="school1gpa"><br>
    <p>School 3 Name:<br></p>
    <input type="text" name="school2name"><br>
    <p>School 3 Location:<br></p>
    <input type="text" name="school2location"><br>
    <p>School 3 Degree:<br></p>
    <input type="text" name="school2degree"><br>
    <p>School 3 Status:<br></p>
    <input type="text" name="school2status"><br>
    <p>School 3 Year Graduated (or will graduate):<br></p>
    <input type="text" name="school2year"><br>
    <p>School 3 GPA (if over 3.0)<br></p>
    <input type="text" name="school2gpa"><br>
    <p>Job 1 Position:<br></p>
    <input type="text" name="job0position"><br>
    <p>Job 1 Employer:<br></p>
    <input type="text" name="job0employer"><br>
    <p>Job 1 Location:<br></p>
    <input type="text" name="job0location"><br>
    <p>Job 1 Time Period:<br></p>
    <input type="text" name="job0time_period"><br>
    <p>Job 1 Comments:<br></p>
    <textarea rows="20" cols="30" name="job0comments"></textarea><br>
    <p>Job 2 Position:<br></p>
    <input type="text" name="job1position"><br>
    <p>Job 2 Employer:<br></p>
    <input type="text" name="job1employer"><br>
    <p>Job 2 Location:<br></p>
    <input type="text" name="job1location"><br>
    <p>Job 2 Time Period:<br></p>
    <input type="text" name="job1time_period"><br>
    <p>Job 2 Comments:<br></p>
    <textarea rows="20" cols="30" name="job1comments"></textarea><br>
    <p>Job 3 Position:<br></p>
    <input type="text" name="job2position"><br>
    <p>Job 3 Employer:<br></p>
    <input type="text" name="job2employer"><br>
    <p>Job 3 Location:<br></p>
    <input type="text" name="job2location"><br>
    <p>Job 3 Time Period:<br></p>
    <input type="text" name="job2time_period"><br>
    <p>Job 3 Comments:<br></p>
    <textarea rows="20" cols="30" name="job2comments"></textarea><br>
    <p>Project 1 Title:<br></p>
    <input type="text" name="project0title"><br>
    <p>Project 1 Summary:<br></p>
    <input type="text" name="project0summary"><br>
    <p>Project 1 Comments:<br></p>
    <textarea rows="20" cols="30" name="project0comments"></textarea><br>
    <p>Project 2 Title:<br></p>
    <input type="text" name="project1title"><br>
    <p>Project 2 Summary:<br></p>
    <input type="text" name="project1summary"><br>
    <p>Project 2 Comments:<br></p>
    <textarea rows="20" cols="30" name="project1comments"></textarea><br>
    <p>Skills:<br></p>
    <textarea rows="20" cols="30" name="skills" required></textarea><br>
    <input type="submit" value="Submit">
</form>
{% endif %}
{% endblock %}
